@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    /* border: solid 1px red; */
}
html,body{
    font-family: 'Nunito',Arial, sans-serif;
}
header{
    text-align: center;
}
main{
    padding: 3rem 0 2rem 0;
    width: 100%;
    max-width: 60ch;
    margin: 0 auto;
    background-color: #f5eb5b;
    border-radius: 10px;
    overflow: hidden;
}
p{
    width: 80%;
    max-width: 16ch;
}
input[type=text]{
    width: 100%;
    outline: none;
    /* opacity: 0.5; */
    background-color: rgba(0,0,0,0);
    border: none;
    padding-left: 1.5rem;
}
input[type=text]:focus{
    opacity: 1;
    color: #ff3c00;
}
button,input[type=submit]{
    font-weight: 600;
    background-color: rgba(0,0,0,0);
    border: 0;
    cursor: pointer;
}
button:hover,input[type=submit]:hover{
    color: #ff3c00;
}
#sticker{
    min-height: 12rem;
}
.item, .add{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.del{
    opacity: 0.5;
    cursor: pointer;
    align-self: center;
}

.del:hover{
    opacity: 1;
}
.item{
    /* background-color: blue; */
    min-height: 2ch;
    padding: .5rem 1.5rem .5rem 1.5rem;
}
.item:hover{
    outline: solid 1px gray;
    /* border-top: solid 1px gray; */
    
}
.crossed{
    text-decoration: line-through;
    color: gray;
}